{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">A Propos ...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenue sur Madx Shop<br/></p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        
                        <br><br/>
                        <br><br/>
                        <br><br/>
                        <br><br/>
                        <p align="justify">
                            
                            Madx Shop est un Site d'E-commerce fait avec Django réalisé par un étudiant en L3IRD2 à L'ESMIA .<br/>
                            Je me nomme RAVELOSOANIRINA TOVONIAINA FABRICE<br/>
                            Et merci de l'attention que vous donné à mon site.<br/>
                            
                        </p>                        
                        <br><br/>
                        <br><br/>
                        <br><br/>
                        <br><br/>                        
                        <br><br/>
                        <br><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
